script#createEvent(type="text/ng-template")
    div(class = "jumbotron")
        div(class = "container-fluid")
            h1.
                Create an Event

    div(class = "container-fluid")
        div(class = "well").
            From Scope: {{helloWorld}}



