script#createEvent(type="text/ng-template")
    div(class = "jumbotron")
        div(class = "container-fluid")
            h1.
                Create an Event


    div(class = "well")
        div.container
            form(role = "form")
                div(class = "form-group has-success")
                    label(for ="eventName") Event Name
                    input(type = "text", class = "form-control text", id = "eventName", ng-model = "event.eventName", placeholder ="Enter the name of the event", required)
                div(class = "form-group")
                    label(for ="date") Date - <i>Click down arrow for date selection </i>
                    input(type = "date", class = "form-control", id = "date", ng-model = "event.eventDate")
                div(class = "form-group")
                    label(for = "time") Time
                    input(type = "time", class = "form-control", id = "time", ng-model = "event.eventTime")
                div(class = "form-group")
                    label(for = "location") Location
                    input(type = "text", class = "form-control", id = "location", ng-model="event.eventLocation")
                button(type = "button", class = "btn btn-primary", ng-click = "submitEvent()") Submit



