script#home(type="text/ng-template")
    div(class = "jumbotron")
        div(class = "container")
            h1.
                Welcome to Imn.
            p.
                A site for creating quick and easy rsvps.
    div(class = "well")
        div.container
