script#home(type="text/ng-template")
    div(class = "jumbotron")
        div(class = "container-fluid")
            h1.
                Welcome to Imn.
            p.
                A site for creating quick and easy rsvps.
    div(class = "well")
        div(class = "panel panel-primary")
            div(class = "panel-heading")
                h3(class="panel-title").
                        Purpose
            div(class = "panel-body").
                Purpose of thise site