script#viewEvent(type="text/ng-template")
    div(class = "jumbotron")
        div(class = "container")
            h1
                {{welcomeMessage}}
    div(class = "well")
        div.row
            div(class = "col-md-4 col-sm-6")
                span
                    | Location
            div(class = "col-md-4 col-sm-6")
                span
                    | Date
            div(class = "col-md-4 col-sm-6")
                span
                    | Time

