script#viewEvent(type="text/ng-template")
    div(class = "jumbotron")
        div(class = "container")
            h1
                {{welcomeMessage}}
            button(ng-click = "iminResponse = !iminResponse", class = "btn btn-primary", data-toggle = "modal", data-target = "#ImInQuestionair") Are you coming?
            div(id = "ImInQuestionair", class = "modal fade", tabindex = "-1", role="dialog", aria-hidden="true")
                div(class = "modal-dialog")
                    div(class = "modal-content")
                        div(class = "modal-header")
                            button(type="button", class="close", data-dismiss="modal", ng-click = "nevermind()")
                                span(aria-hidden="true") &times
                                span(class = "sr-only") Close

                        div(class = "modal-body")
                            div(class = "modal-body")
                                div.container
                                    | Who are you?
                                    input(type = "input", ng-model = "newAttendee", placeholder="Enter your name")
                                br
                                div.container
                                    div(class = "btn-group")
                                        button(type = "button", class = "btn btn-default", ng-click = "ImIn()") ImIn
                                        button(type = "button", class = "btn btn-default", ng-click = "maybe()") Maybe
                                        button(type = "button", class = "btn btn-default", ng-click = "nopes()") Nope
                        div(class = "modal-footer")
                            button(type = "button", class = "btn btn-primary", data-dismiss="modal", ng-click = "addAttendee()") ImIn
                            button(type = "butotn", class = "btn btn-warning", data-dismiss="modal", ng-click = "nevermind()") Nevermind
    div(class = "well")
        div.row
            div.container-fluid
                div(class = "col-md-3 col-sm-6")
                    div(class = "panel panel-info")
                        div(class = "panel-heading")
                            | Event Name
                        div(class = "panel-body")
                            {{event.eventName}}
                div(class = "col-md-3 col-sm-6")
                    div(class = "panel panel-info")
                        div(class = "panel-heading")
                            | Event Date
                        div(class = "panel-body")
                            {{event.eventDate}}
                div(class = "col-md-3 col-sm-6")
                    div(class = "panel panel-info")
                        div(class = "panel-heading")
                            | Event Time
                        div(class = "panel-body")
                            {{event.eventTime}}
                div(class = "col-md-3 col-sm-6")
                    div(class = "panel panel-info")
                        div(class = "panel-heading")
                            | Overview
                        div(class = "panel-body")
                            span(class = "label label-info") {{event.attendees.length}}
                            span(class = "label label-warning") {{event.maybe.length}}
                            span(class = "label label-danger") {{event.nopes.length}}
                div(class = "col-md-4 col-sm-6")
                    div(class = "panel panel-info")
                        div(class = "panel-heading")
                            | Who's Coming?
                        div(class = "panel-body")
                            input(ng-model = "searchAttendees")
                            table(class = "table table-stripped")
                                tr
                                    th()
                                        | Name
                                tr(ng-repeat="attendee in event.attendees | filter:searchAttendees")
                                    td
                                        {{attendee.userName}}
                div(class = "col-md-4 col-sm-6")
                    div(class = "panel panel-warning")
                        div(class = "panel-heading")
                            | Who Might Be Coming?
                        div(class = "panel-body")
                            input(ng-model = "searchMaybe")
                            table(class = "table table-stripped")
                                tr
                                    th()
                                        | Name
                                tr(ng-repeat="attendee in event.maybe | filter:searchMaybe")
                                    td
                                        {{attendee.userName}}
                div(class = "col-md-4 col-sm-6")
                    div(class = "panel panel-danger")
                        div(class = "panel-heading")
                            | Who's Not Coming
                        div(class = "panel-body")
                            input(ng-model = "searchNopes")
                            table(class = "table table-stripped")
                                tr
                                    th()
                                        | Name
                                tr(ng-repeat="attendee in event.nopes | filter:searchNopes")
                                    td
                                        {{attendee.userName}}

