script#viewEvent(type="text/ng-template")
    div(class = "jumbotron")
        div(class = "container")
            h1.
                {{welcomeMessage}}
    div(ng-model = "events").container List of Events
        a(href='/viewEvent/1234') View Event 1234

        table().table-striped
            tr(ng-repeat = "event in events")
                td()
                    {{event.eventName}}



